# OSX files
.DS_Store

# build stuff
build.log
build
dist
plugins
Resources
tmp

# generated sourcecode files
app/alloy.js
app/controllers
app/lib
app/styles
*.js.map
*.tss

# npm stuff
node_modules
npm-debug.log

# editors stuff
.map
.project
.settings
